[submodule "glm"]
	path = glm
	url = https://github.com/felipunky/glm
[submodule "imgui"]
	path = imgui
	url = https://github.com/felipunky/imgui
[submodule "ImGuizmo"]
	path = ImGuizmo
	url = https://github.com/felipunky/ImGuizmo
[submodule "nanort"]
	path = nanort
	url = https://github.com/felipunky/nanort
[submodule "tinygltf"]
	path = tinygltf
	url = https://github.com/felipunky/tinygltf
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/felipunky/tinyobjloader
